body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#p {
    font-weight: bolder;
}
span{
    font-weight: bolder;
}
.left-section {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.right-section {
    flex: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 80%;
}

.card {
    color: #888;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: contain;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.card ::textCon {
    transform: scale(0.5);
}

.card:hover {
    transform: scale(1.05);
}

.card-blue {
    background-image: url('src/blue.png');
}

.card-blue.selected {
    color: #183758;
    background-image: url('src/blue-selected.png');
}

.card-blue.fliped {
    background-image: url('src/blue-fliped.png');
}

.card-red {
    background-image: url('src/red.png');
}

.card-red.selected {
    color: #501111;
    background-image: url('src/red-selected.png');
}

.card-red.fliped {
    background-image: url('src/red-fliped.png');
}

.card-white {
    background-image: url('src/unselected.png');
}

p.hidden {
    display: none;
}

.action-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.dialog-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 53%);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 80%;
    text-align: center;
}

.prompt-button {
    color: #888;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-image: url('src/筆記.png');
    aspect-ratio: 3 / 2;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.prompt-button:hover {
    transform: scale(1.05);
}

.prompt-button.selected {
    background-image: url('src/筆記-selected.png');
    color: #1e3d1f;
}

#promptButtonsContainer {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%;
}

.left-section {
    flex: 3;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.right-section {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #00CACA;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

#chat-body {
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.message {
    display: flex;
    margin-bottom: 20px;
}

.message-text {
    background-color: #B8B8DC;
    padding: 10px;
    border-radius: 10px;
}

.message-right {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.message-text-right {
    background-color: #00CACA;
    padding: 10px;
    border-radius: 10px;
}

.notify {
    font-weight: bold;
    color: #3b3b57;
}

.notify-right {
    font-weight: bold;
    color: #315555;
}

.chat-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.chat-footer input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

#send-button {
    width: 30%;
    text-align: center;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button.hidden {
    display: none;
}

.question {
    width: 100%;
    height: 100%;
    background-image: url('src/question.png');
    aspect-ratio: 3 / 2;
    background-position: center;
    background-size: contain;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-content {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

#quizDialog {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

#quizForm h2 {
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#quizForm p {
    font-size: 16px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

#quizForm input[type="radio"] {
    margin-right: 10px;
}

#quizForm label {
    font-size: 14px;
    color: #555;
    font-family: 'Arial', sans-serif;
}

#quizForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

#quizForm button:hover {
    background-color: #45a049;
}
#closePromptDialog{
    width: 100%;
    text-align: right;
}
.red{
    color:#CF6266;
}
.blue{
    color:#628BCF;
}
@media screen and (max-width: 1300px) {
    .dialog-content {
        width: 90%;
    }

    body {
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    .left-section,
    .right-section {
        flex: none;
        width: 100%;
        max-width: 1300px;
    }

    .right-section {
        height: auto;
        max-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .card,
    .message-text,
    .message-text-right {
        font-size: 10px;
    }
}
@media screen and (max-width: 320px) {
    .card,
    .message-text,
    .message-text-right {
        font-size: 8px;
    }
}
@media screen and (max-width: 260px) {
    .card,
    .message-text,
    .message-text-right {
        font-size: 4px;
    }
}
@media screen and (max-height: 560px) {
    .dialog-content {
        width: 90%;
    }

    body {
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    .left-section,
    .right-section {
        flex: none;
        width: 100%;
    }

    .right-section {
        height: auto;
        max-height: 300px;
    }
}